<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>ToDoSample</title>
    </head>
    <body>
    	<div th:if="${taskList.size() == 0}">タスクがありません。</div>
    	<div th:unless="${taskList.size() == 0}">
    		<div th:each="task : ${taskList}">
    			<p th:text="${task.getTaskName()}"></p>
    			<form th:action="@{/deletetask}" method="post">
    				<input type="hidden" name="id" th:value="${taskList.indexOf(task)}" />
    				<input type="submit" value="削除"/>
    			</form>
    		</div>
    	</div>
    	<form th:action="@{/addtask}" method="post">
    		<input type="text" name="taskName" />
    		<input type="submit" value="追加" />
    	</form>
    </body>
</html>